.wrapper
  = render "side_bar"
  = render "shared/main_chat"

.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__current-group
        %p test
      .chat-main__main-header__left-box__member-list
        %p Member:
        .chat-main__main-header__left-box__member-list__member
          %p MASA
    .chat-main__main-header__edit-btn
      =link_to "#",class: "edit__btn" do
        Edit
  .chat-main__messages
    .chat-main__messages__message
      .chat-main__messages__message__upper-info
        .chat-main__messages__message__upper-info__talker
          %p MASA
        .chat-main__messages__message__upper-info__date
          %p 2019/11/20(Wed) 17:43:01
      .chat-main__messages__message__text
        %p おはよう
    .chat-main__messages__message
      .chat-main__messages__message__upper-info
        .chat-main__messages__message__upper-info__talker
          %p MASA
        .chat-main__messages__message__upper-info__date
          %p 2019/11/20(Wed) 17:43:34
      .chat-main__messages__message__text
        %p 今日は夜から雨
  .form
    .new_message
      .input-box
        .input-box__text
          %p
            %label{class: "input-box__text"}
              %input{type: "text",placeholder: "type a message"}
        .input-box__image
          %label{class: "input-box__image"}
            %i.far.fa-image
            %input{type: "file"}
            
      .chat-main__form__new_message
    .submit-btn
      =link_to "#",class: "send__btn" do
        Send
    
