&__message{
  padding-bottom: 46px;
  &__upper-info{
    padding-bottom: 12px;
    display: flex;
  }
  &__upper-info__talker{
    font-size: 16px;
    font-weight: bold;
    color: $dark-gray;
  }
  &__upper-info__date{
    font-size: 12px;
    color: $light-gray;
    margin-left: 10px;
  }
  &__text{
    font-size: 14px;
    color: 434a54;
  }
}