//背景色,使用頻度低
$chat-side-color: #2f3e51;
$side-header-color: #253141;
$input-box-color: #434a54;
$messages-color: #fafafa;
$form-color:#d2d2d2;

//汎用、何度も使う色
$white: #ffffff;
$sky-blue:#38aef0;
$dark-gray: #333333;
$light-gray: #999999;
$black: #000000;
